
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Address</th>
                <th scope="col">View Details</th>
                <th scope="col">Park Vehicle</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let parkingLot of parkingLots">
                <th scope="row">{{parkingLot.parkingLotId}}</th>
                <td>{{parkingLot.address}}</td>
                <td>
                  <a [routerLink]="['/viewparkinglot',parkingLot.parkingLotId]" routerLinkActive="router-link-active" >View Details</a>
                </td>
                <td>
                  <a [routerLink]="['/parkvehicle', parkingLot.parkingLotId]" routerLinkActive="router-link-active" >Park Vehicle</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-2">

    </div>
</div>